.paginationBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .paginationArrow,
    .paginationButton{
        background-color: white;
        border: none;
        cursor: pointer;
    }
    .paginationButton:disabled,
    .paginationArrow:disabled{
        cursor: default;
    }
    
}

.paginationBlock.dark{
    .paginationArrow,
    .paginationButton {
        background-color: #272727;
        color: white;
    }
    .paginationButton.active {
        color: red;
    }
}
.paginationBlock.light{
    .paginationArrow,
    .paginationButton {
        background-color: white;
        color: #272727;
    }
    .paginationButton.active {
        color: red;
    }
}

