.slider{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    overflow: auto;
    white-space: nowrap;

    .arrow{
        border: none;
        background-color: white;
    }
}

.slider.dark{
    .arrow{
        background-color: #272727;
        color: white;
    }
}
.slider.light{
    .arrow{
        background-color: white;
        color: #272727;
    }
}